@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f1f1f, #5c5c5c);
    margin: 0;
}

h1 {
    margin-bottom: 1em;
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #4e4e4e;
    padding: 20px;
    border-radius: 20px;
    background: rgba(50, 50, 50, 0.9);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    animation: popUp 0.5s ease-in-out;
    max-width: 350px;
    width: 100%;
}

input {
    width: calc(100% - 20px);
    border: none;
    padding: 20px;
    margin: 10px 0;
    font-size: 30px;
    text-align: right;
    color: #ffffff;
    background-color: #333;
    border-radius: 10px;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

input::placeholder {
    color: #bbb;
}

button {
    border: none;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 15px;
    background: #4e4e4e;
    color: #ffffff;
    font-size: 24px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
}

button:hover {
    background: #676767;
    transform: translateY(-5px);
}

.equalBtn {
    background-color: #14dcfb;
}

.equalBtn:hover {
    background-color: #12c2d9;
}

.operator {
    color: #ee380a;
}

@media screen and (max-width: 400px) {
    .calculator {
        padding: 15px;
        border-radius: 15px;
    }

    input {
        font-size: 24px;
    }

    button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popUp {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
